################
## ESubuntu   ##
##            ##
## git-ignore ##
################

# ISO files
/iso

# Mounted images
/mnt

# Extracted contents
/extract

# Static generated content
/docs/site

# Local content
/local
