"*":
  "file-types":
    "**/.bash/**": "source.shell"
    "**/.inputrc": "source.shell"
    "**/*nanorc": "source.git-config"
    "**/config/customize/git/*": "source.git-config"
    "**/config/customize/gnome/*": "source.git-config"
    "**/config/customize/init/*": "source.git-config"
    "**/config/customize/mc/*": "source.ini"
    "**/config/customize/packages/*": "source.git-config"
    "**/config/customize/random/*": "source.git-config"
    "**/config/customize/shorewall/*": "source.git-config"
    "**/config/customize/ssh/**": "source.git-config"
