"*":
  "file-types":
    "**/.bash/**": "source.shell"
    "**/.inputrc": "source.shell"
    "**/.nanorc": "source.shell"
    "**/*nanorc": "source.git-config"
    "**/bin/**": "source.shell"
    "**/config/customize/apps/*": "source.ini"
    "**/config/customize/apps/atom/*": "source.ini"
    "**/config/customize/apps/shorewall/**": "source.ini"
    "**/config/customize/apps/virtualbox/*": "source.ini"
    "**/config/customize/git/*": "source.ini"
    "**/config/customize/gnome/*": "source.ini"
    "**/config/customize/gnome/config.global.d/*": "source.ini"
    "**/config/customize/gnome/config.local.d/*": "source.ini"
    "**/config/customize/init/*": "source.ini"
    "**/config/customize/mc/*": "source.ini"
    "**/config/customize/packages/*": "source.ini"
    "**/config/customize/post-install/config/*": "source.ini"
    "**/config/customize/random/*": "source.ini"
    "**/config/customize/services/apache/modules": "source.ini"
    "**/config/customize/services/mariadb/*": "source.ini"
    "**/config/customize/services/php/*": "source.ini"
    "**/config/customize/services/phpmyadmin/config": "source.ini"
    "**/config/customize/ssh/**": "source.git-config"
    "**/config/install/partition-maps/**": "source.git-config"
