###############
## ES-Ubuntu ##
##           ##
## Config    ##
## Apps      ##
###############

## Atom packages
## Format:
## package_name
################
[atom-packages]
sync-settings

## JMeter
#########
[jmeter]
# JMeter version
version=5.5
# Download URL
url="https://dlcdn.apache.org/jmeter/binaries/apache-jmeter-5.5.tgz"
# SHA512 checksum
checksum=d5d1ce795e9baf18efd3a13ecda150b4da80c3173a2c7ef0da2a5546ac6862b1edd2a2f4e52d971c7da05d879362c28dca6bf218c5f7570b5cc98f7ba73c92af
