###############
## ES-Ubuntu ##
##           ##
## Config    ##
## System    ##
###############

## Dirs to create
##
## Format:
## path [owner]
#################
[dirs-create]
/mnt/hdd
~/projects $USER

## Dirs to delete
##
## Format:
## path
#################
[dirs-remove]
~/Videos

## User groups
##
## Format:
## group_name
##############
[groups]
backup
www-data
