##############
## Zephyr   ##
##          ##
## Config   ##
## Packages ##
##############

## APT packages to install
##
## Format:
## package_name [apt_repository]
################################
[apt-install]
lftp
pass
pass-extension-tomb
gnome-shell-pomodoro
google-drive-ocamlfuse ppa:alessandro-strada/ppa
virtualbox-qt
virtualbox-guest-additions-iso

## APT packages to remove
##
## Format:
## package_name
#########################
[apt-remove]
bolt
brltty
enchant-2
espeak-ng-data
gamemode
gnome-accessibility-themes
mobile-broadband-provider-info
mousetweaks

## Shell binary
##
## Format:
## Name URL [SHA256SUM]
#######################
[bin]
php-cs-fixer https://github.com/PHP-CS-Fixer/PHP-CS-Fixer/releases/download/v3.75.0/php-cs-fixer.phar 6fcd912a97f48069f06cc6447a9b3694d81d0baf7299b84f66368cd1ee516ee0
yt-dlp https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp_linux

## Package managers
###################
[managers]
# Node major version to install
node_version=22

## Node modules
##
## Format:
## package_name
###############
[node]
prettier

## snaps to install
##
## Format:
## snap_name [install_options]
##############################
[snap]
code classic,channel=latest/edge
vlc
